<ion-header>
  <ion-navbar>
    <ion-title>{{produto?.name}}</ion-title>
    <ion-buttons end>
      <div id="circle" *ngIf="cartLength()"><b>{{cartLength()}}</b></div>
      <cart-indicator (wasClicked)="openCart()"></cart-indicator>
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content>
<div *ngFor=" let product of produtos; let index=index ">
  <div ion-card ion-item *ngIf=" product.name==produto.name ">
    <h1>{{product.market}}</h1>
    <img src="{{mercImg(product)}}" width="120" height="80" style="margin-top: 15px;">
    <div style="position: absolute; display: block; top: 45px; left: 150px; width: 30px; height: 100px;">
      <button ion-button icon-only clear large style="position: relative; display: block; top: -16px; left: -20px;" (click)="plusOne( product, product, 1)">
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <input type="number" style="position: relative; display: block; bottom: 26px; left: -2px; width: 33px; text-align: center;"
           [(ngModel)]="quant[numi( product.name, product.market)]" (change)="plusOne( product, product, 0)">
      <button ion-button icon-only clear large style="position: relative; display: block; bottom: 35px; left: -20px;" (click)="lessOne( product, product)">
        <ion-icon name="remove-circle"></ion-icon>
      </button>
    </div>
    <div style="position: absolute; display: block; width: 100px; height: 80px; top: 55px; right: 20px; text-align: center;">
      <p [ngStyle]="{'color': product.price == colorOrd(product.name) ? '#0cad1f' : 'black'}" style="font-size: 19px;"><b>Preço: {{product.price}}</b></p>
      <button item-right ion-button style="font-size: 13px; width: 100%"> 
        VER NO MAPA
      </button>
    </div>
  </div>     
</div>
</ion-content>